<section class="section two-adult-room">
  <div class="container__lines--top"></div>
  <div class="container">
    <div class="two-adult-room__text-img-wrapper">
      <div class="two-adult-room__wrapper">
        <p class="two-adult-room__subtitle">Amet minim mollit non</p>
        <p class="two-adult-room__name">MIMIHO</p>
        <h1 class="two-adult-room__title">ДВОМІСНИЙ НОМЕР</h1>
        <p class="two-adult-room__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="two-adult-room__wrapper-img">
        <picture>
          <source
            srcset="
              ./images/two-adult/two-adult-room-with-bed-desktop.webp    1x,
              ./images/two-adult/two-adult-room-with-bed-desktop@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/two-adult/two-adult-room-with-bed-tab.webp    1x,
              ./images/two-adult/two-adult-room-with-bed-tab@2x.webp 2x
            "
            media="(min-width: 1024px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/two-adult/two-adult-room-with-bed-mobile.webp    1x,
              ./images/two-adult/two-adult-room-with-bed-mobile@2x.webp 2x
            "
            media="(max-width: 414px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/two-adult/two-adult-room-with-bed-desktop.jpg    1x,
              ./images/two-adult/two-adult-room-with-bed-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpg"
          />
          <source
            srcset="
              ./images/two-adult/two-adult-room-with-bed-tablet.jpg    1x,
              ./images/two-adult/two-adult-room-with-bed-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
            type="image/jpg"
          />
          <img
            class="two-adult-room__bedroom-img"
            srcset="
              ./images/two-adult/two-adult-room-with-bed-mobile.jpg    1x,
              ./images/two-adult/two-adult-room-with-bed-mobile@2x.jpg 2x
            "
            src="./images/two-adult/two-adult-room-with-bed-mobile.jpg"
            alt="кімната
        з ліжком"
          />
        </picture>
      </div>
    </div>
    <div class="two-adult-room__swiper-button-wrapper">
      <div class="luxe2-swiper--margin-right">
        <div class="swiper swiper-wrapper--height">
          <ul class="swiper-wrapper swiper-wrapper--2adult-padding">
            <li class="swiper-slide swiper-slide--2luxe">
              <picture>
                <source
                  srcset="
                    ./images/two-adult/bathroom-elements–desktop-swiper1.jpg 1x
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/two-adult/bathroom-elements–tab-swiper1.jpg 1x
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="./images/two-adult/bathroom-elements-swiper1.jpg 1x"
                  media="(max-width: 1023px)"
                />
                <img
                  class="two-adult-room__bathroom-elements-img"
                  src="./images/two-adult/bathroom-elements-swiper1.jpg"
                  alt="банне приладдя біля раковини"
                />
              </picture>
            </li>
            <li class="swiper-slide swiper-slide--2luxe">
              <picture>
                <source
                  srcset="./images/two-adult/cup-and-tea-desktop-swiper2.jpg 1x"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="./images/two-adult/cup-and-tea-tab-swiper2.jpg 1x"
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="./images/two-adult/cup-and-tea-swiper2.jpg 1x"
                  media="(max-width: 1023px)"
                />

                <img
                  class="two-adult-room__cup-img"
                  src="./images/two-adult/cup-and-tea-swiper2.jpg"
                  alt="чашка з чаєм стоїть на підвіконні"
                />
              </picture>
            </li>
          </ul>
          <div>
            <svg
              class="swiper-button-prev swiper-button-prev--2-adult-btn"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M31.0834 14.9998H5.00581L11.0055 9.00012L9.5913 7.58594L1.17737 15.9999L9.5913 24.4138L11.0055 22.9996L5.00568 16.9998H31.0834V14.9998Z"
                fill="black"
              />
            </svg>
          </div>
          <div>
            <svg
              class="swiper-button-next swiper-button-next--2-adult-btn"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22.4921 7.58594L21.0779 9.00012L27.0777 14.9999H1V17H27.0775L21.0779 22.9996L22.4921 24.4138L30.9061 15.9999L22.4921 7.58594Z"
                fill="black"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="two-adult-room__button-wrapper">
        <a class="button button--black button--link" href="./number.html"
          >Детальніше</a
        >
        <button
          class="button button--black js-open-modal"
          type="button"
          data-modal="3"
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
  <!-- <div>
     <button class="">
        <svg class="two-adult-room__icon" width="" height="">
          <use href=""></use>
        </svg>
      </button>
      <button>
        <svg class="two-adult-room__icon" width="" height="">
          <use href=""></use>
        </svg>
      </button>
    </div>
    <ul class="buttons-list">
      <li>
        <button class="button" type="">
          Детальніше
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="button" type="submit" data-modal-open="">
          Переглянути ціни
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </button>
  </div> -->
</section>
