<section class="section three-adult">
  <div class="container__lines--top">
    <div class="container three-adult__container">
      <div class="three-adult__content">
        <div class="three-adult__wrapper-text">
          <p class="three-adult__subtitle-text">Amet minim mollit non</p>
          <p class="three-adult__subtitle">Mimiho</p>
          <h2 class="three-adult__title">Трьохмісний номер</h2>
          <p class="three-adult__desc">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
        <div class="three-adult__picture">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/three-adult/modern-studio-apartment-desc.jpg    1x,
                ./images/three-adult/modern-studio-apartment-desc@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1024px)"
              srcset="
                ./images/three-adult/modern-studio-apartment-tabl.jpg    1x,
                ./images/three-adult/modern-studio-apartment-tabl@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 1023px)"
              srcset="
                ./images/three-adult/modern-studio-apartment-mob.jpg    1x,
                ./images/three-adult/modern-studio-apartment-mob@2x.jpg 2x
              "
            />
            <img
              src="./images/three-adult/modern-studio-apartment-mob.jpg"
              alt="Апартаменти"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div>
        <div class="swiper--accent swiper-container--margin">
          <div class="swiper swiper-wrapper--height">
            <ul class="swiper-wrapper swiper-wrapper--3adult-padding">
              <li class="swiper-slide swiper-slide--2luxe">
                <picture>
                  <source
                    media="min-width: 1280px"
                    srcset="
                      ./images/three-adult/bathroom-elements-desc.jpg    1x,
                      ./images/three-adult/bathroom-elements-desc@2x.jpg 2x
                    "
                  />
                  <source
                    media="max-width: 1279px"
                    srcset="
                      ./images/three-adult/bathroom-elements.jpg    1x,
                      ./images/three-adult/bathroom-elements@2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/three-adult/bathroom-elements.jpg"
                    alt="Умивальник"
                    loading="lazy"
                  />
                </picture>
              </li>
              <li class="swiper-slide swiper-slide--2luxe">
                <picture>
                  <source
                    media="min-width: 1280px"
                    srcset="
                      ./images/three-adult/cup-tea-desc.jpg              1x,
                      ./images/three-adult/bathroom-elements-desc@2x.jpg 2x
                    "
                  />
                  <source
                    media="max-width: 1279px"
                    srcset="
                      ./images/three-adult/cup-tea.jpg    1x,
                      ./images/three-adult/cup-tea@2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/three-adult/cup-tea.jpg"
                    alt="Чашка"
                    loading="lazy"
                  />
                </picture>
              </li>
              <li class="swiper-slide swiper-slide--2luxe">
                <picture>
                  <source
                    media="min-width: 1280px"
                    srcset="
                      ./images/three-adult/bathroom-elements-desc.jpg    1x,
                      ./images/three-adult/bathroom-elements-desc@2x.jpg 2x
                    "
                  />
                  <source
                    media="max-width: 1279px"
                    srcset="
                      ./images/three-adult/bathroom-elements.jpg    1x,
                      ./images/three-adult/bathroom-elements@2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/three-adult/bathroom-elements.jpg"
                    alt="Умивальник"
                    loading="lazy"
                  />
                </picture>
              </li>
              <li class="swiper-slide swiper-slide--2luxe">
                <picture>
                  <source
                    media="min-width: 1280px"
                    srcset="
                      ./images/three-adult/cup-tea-desc.jpg    1x,
                      ./images/three-adult/cup-tea-desc@2x.jpg 2x
                    "
                  />
                  <source
                    media="max-width: 1279px"
                    srcset="
                      ./images/three-adult/cup-tea.jpg    1x,
                      ./images/three-adult/cup-tea@2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/three-adult/cup-tea.jpg"
                    alt="Чвшка"
                    loading="lazy"
                  />
                </picture>
              </li>
              <li class="swiper-slide swiper-slide--2luxe">
                <picture>
                  <source
                    media="min-width: 1280px"
                    srcset="
                      ./images/three-adult/bathroom-elements-desc.jpg    1x,
                      ./images/three-adult/bathroom-elements-desc@2x.jpg 2x
                    "
                  />
                  <source
                    media="max-width: 1279px"
                    srcset="
                      ./images/three-adult/bathroom-elements.jpg    1x,
                      ./images/three-adult/bathroom-elements@2x.jpg 2x
                    "
                  />
                  <img
                    src="./images/three-adult/bathroom-elements.jpg"
                    alt="Умивальник"
                    loading="lazy"
                  />
                </picture>
              </li>
            </ul>
            <div>
              <svg
                class="swiper-button-prev swiper-button-prev--3adult-top three-adult__swiper-button"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.0834 14.9998H5.00581L11.0055 9.00012L9.5913 7.58594L1.17737 15.9999L9.5913 24.4138L11.0055 22.9996L5.00568 16.9998H31.0834V14.9998Z"
                  fill="black"
                />
              </svg>
            </div>
            <div>
              <svg
                class="swiper-button-next swiper-button-prev--3adult-top three-adult__swiper-button"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M22.4921 7.58594L21.0779 9.00012L27.0777 14.9999H1V17H27.0775L21.0779 22.9996L22.4921 24.4138L30.9061 15.9999L22.4921 7.58594Z"
                  fill="black"
                />
              </svg>
            </div>
          </div>
        </div>
        <div class="three-adult__wrapper-button">
          <a class="three-adult__button button link" href="./number.html"
            >Детальніше</a
          >
          <button
            class="three-adult__button button js-open-modal"
            type="button"
            data-modal="3"
          >
            Переглянути ціни
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
