<section class="section">
  <div class="container container__lines">
    <div class="kitchen__wrapper">
      <div>
        <h2 class="kitchen__title visually-hidden">Our kitchen</h2>
        <p class="kitchen__title-second">Amet minim mollit non</p>
        <p class="kitchen__name">MIMIHO</p>
        <p class="kitchen__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/about-kitchen/desktop/restaurant-interior-lg.webp    1x,
            ./images/about-kitchen/desktop/restaurant-interior-lg@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:1280px)"
          srcset="
            ./images/about-kitchen/desktop/restaurant-interior-lg.jpg    1x,
            ./images/about-kitchen/desktop/restaurant-interior-lg@2x.jpg 2x
          "
        />

        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/about-kitchen/tablet/restaurant-interior-md.webp    1x,
            ./images/about-kitchen/tablet/restaurant-interior-md@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:1024px)"
          srcset="
            ./images/about-kitchen/tablet/restaurant-interior-md.jpg    1x,
            ./images/about-kitchen/tablet/restaurant-interior-md@2x.jpg 2x
          "
        />

        <source
          media="(max-width: 1023px)"
          srcset="
            ./images/about-kitchen/restaurant-interior-sm.webp    1x,
            ./images/about-kitchen/restaurant-interior-sm@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width:1023px)"
          srcset="
            ./images/about-kitchen/restaurant-interior-sm.jpg    1x,
            ./images/about-kitchen/restaurant-interior-sm@2x.jpg 2x
          "
        />
        <img
          class="kitchen__img"
          src="./images/about-kitchen/restaurant-interior-sm.jpg"
          alt="Кухар готує їжу"
        />
      </picture>
    </div>
    <div class="kitchen-element">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/about-kitchen/desktop/pexels-oruri-jacome-lg.webp    1x,
            ./images/about-kitchen/desktop/pexels-oruri-jacome-lg@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:1280px)"
          srcset="
            ./images/about-kitchen/desktop/pexels-oruri-jacome-lg.jpg    1x,
            ./images/about-kitchen/desktop/pexels-oruri-jacome-lg@2x.jpg 2x
          "
        />

        <source
          media="(min-width: 1024px)"
          srcset="
            ./images/about-kitchen/tablet/pexels-oruri-jacome-md.webp    1x,
            ./images/about-kitchen/tablet/pexels-oruri-jacome-md@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width:1024px)"
          srcset="
            ./images/about-kitchen/tablet/pexels-oruri-jacome-md.jpg    1x,
            ./images/about-kitchen/tablet/pexels-oruri-jacome-md@2x.jpg 2x
          "
        />

        <source
          media="(max-width: 1023px)"
          srcset="
            ./images/about-kitchen/pexels-oruri-jacome-sm.webp    1x,
            ./images/about-kitchen/pexels-oruri-jacome-sm@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width:1023px)"
          srcset="
            ./images/about-kitchen/pexels-oruri-jacome-sm.jpg    1x,
            ./images/about-kitchen/pexels-oruri-jacome-sm@2x.jpg 2x
          "
        />
        <img
          class="kitchen__img"
          src="./images/about-kitchen/pexels-oruri-jacome-sm.jpg"
          alt="М'ясо та приправи на столі"
        />
      </picture>
      <p class="kitchen__text-second">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="swiper--accent">
      <div class="swiper swiper-wrapper--height">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <picture>
              <source
                srcset="./images/about-kitchen/desktop/swiper1.jpg 1x"
                media="(min-width:1280px)"
              />
              <source
                srcset="./images/about-kitchen/tablet/swiper1.jpg 1x"
                media="(min-width:1024px)"
              />
              <source
                srcset="./images/about-kitchen/swiper1.jpg 1x"
                media="(max-width:1023px)"
              />
              <img
                src="./images/about-kitchen/swiper1.jpg"
                alt="Повар замішує тісто"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="./images/about-kitchen/desktop/swiper2.jpg 1x"
                media="(min-width:1280px)"
              />
              <source
                srcset="./images/about-kitchen/tablet/swiper2.jpg 1x"
                media="(min-width:1024px)"
              />
              <source
                srcset="./images/about-kitchen/swiper2.jpg 1x"
                media="(max-width:1023px)"
              />
              <img
                src="./images/about-kitchen/swiper2.jpg"
                alt="Приготовані хінкалі на столі"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="./images/about-kitchen/desktop/swiper1.jpg 1x"
                media="(min-width:1280px)"
              />
              <source
                srcset="./images/about-kitchen/tablet/swiper1.jpg 1x"
                media="(min-width:1024px)"
              />
              <source
                srcset="./images/about-kitchen/swiper1.jpg 1x"
                media="(max-width:1023px)"
              />
              <img
                src="./images/about-kitchen/swiper1.jpg"
                alt="Повар замішує тісто"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="./images/about-kitchen/desktop/swiper2.jpg 1x"
                media="(min-width:1280px)"
              />
              <source
                srcset="./images/about-kitchen/tablet/swiper2.jpg 1x"
                media="(min-width:1024px)"
              />
              <source
                srcset="./images/about-kitchen/swiper2.jpg 1x"
                media="(max-width:1023px)"
              />
              <img
                src="./images/about-kitchen/swiper2.jpg"
                alt="Приготовані хінкалі на столі"
              />
            </picture>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="./images/about-kitchen/desktop/swiper1.jpg 1x"
                media="(min-width:1280px)"
              />
              <source
                srcset="./images/about-kitchen/tablet/swiper1.jpg 1x"
                media="(min-width:1024px)"
              />
              <source
                srcset="./images/about-kitchen/swiper1.jpg 1x"
                media="(max-width:1023px)"
              />
              <img
                src="./images/about-kitchen/swiper1.jpg"
                alt="Повар замішує тісто"
              />
            </picture>
          </li>
        </ul>
        <div>
          <svg
            class="swiper-button-prev"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M31.0834 14.9998H5.00581L11.0055 9.00012L9.5913 7.58594L1.17737 15.9999L9.5913 24.4138L11.0055 22.9996L5.00568 16.9998H31.0834V14.9998Z"
              fill="black"
            />
          </svg>
        </div>
        <div>
          <svg
            class="swiper-button-next"
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M22.4921 7.58594L21.0779 9.00012L27.0777 14.9999H1V17H27.0775L21.0779 22.9996L22.4921 24.4138L30.9061 15.9999L22.4921 7.58594Z"
              fill="black"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
