<section class="section section-no-left-pading">
  <div class="container container-no-left-pading container__lines">
    <div class="wrapper__about-hotel">
      <div class="wrapper__bedroom">
        <h2 class="hotel__title visually-hidden">About our hotel</h2>
        <p class="hotel__subtitle">Amet minim mollit non</p>
        <p class="hotel__name">MIMIHO</p>
        <p class="hotel__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="wrapper__bedroom-img">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-lg.webp    1x,
              ./images/about-our-hotel/apartment-with-bedroom-lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-lg.jpg    1x,
              ./images/about-our-hotel/apartment-with-bedroom-lg@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-md.webp    1x,
              ./images/about-our-hotel/apartment-with-bedroom-md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-md.jpg    1x,
              ./images/about-our-hotel/apartment-with-bedroom-md@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-sm.webp    1x,
              ./images/about-our-hotel/apartment-with-bedroom-sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/about-our-hotel/apartment-with-bedroom-sm.jpg    1x,
              ./images/about-our-hotel/apartment-with-bedroom-sm@2x.jpg 2x
            "
          />
          <img
            class="bedroom-img"
            src="./images/about-our-hotel/apartment-with-bedroom-sm.jpg"
            alt="Кімната студія з ліжком"
          />
        </picture>
      </div>
    </div>
    <!-- __________________________________________ -->
    <div class="wrapper__hall">
      <div class="wrapper__hall-text">
        <p class="hall__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="wrapper__hall-img">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-lg.webp    1x,
              ./images/about-our-hotel/hotel-recepition-lg@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-lg.jpg    1x,
              ./images/about-our-hotel/hotel-recepition-lg@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-md.webp    1x,
              ./images/about-our-hotel/hotel-recepition-md@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-md.jpg    1x,
              ./images/about-our-hotel/hotel-recepition-md@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-sm.webp    1x,
              ./images/about-our-hotel/hotel-recepition-sm@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/about-our-hotel/hotel-recepition-sm.jpg    1x,
              ./images/about-our-hotel/hotel-recepition-sm@2x.jpg 2x
            "
          />
          <img
            class="hall-img"
            src="./images/about-our-hotel/hotel-recepition-sm.jpg"
            alt="Хол готелю"
          />
        </picture>
      </div>
    </div>
    <div class="shodow-box"></div>
    <div class="shodow-box--vertical"></div>
    <div class="swiper--margin-right">
      <div class="swiper swiper-wrapper--height swipper-wrapper--margin-bottom">
        <ul class="swiper-wrapper swiper-wrapper--no-padding">
          <li class="swiper-slide swiper-slide--no-shadow">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-lg.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-lg.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-lg@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-md.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-md.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-md@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-sm.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-sm.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-sm@2x.jpg 2x
                "
              />
              <img class="swiper-slide--no-shadow"
                src="./images/about-our-hotel/abouthotel-slider/bed-decoration-sm.jpg"
                alt="Кімната студія з ліжком"
              />
            </picture>
          </li>
          <li class="swiper-slide swiper-slide--no-shadow">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-lg.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-lg.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-lg@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-md.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-md.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-md@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-sm.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-sm.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-sm@2x.jpg 2x
                "
              />
              <img class="swiper-slide--no-shadow"
                src="./images/about-our-hotel/abouthotel-slider/hotel-registration-sm.jpg"
                alt="Кімната студія з ліжком"
              />
            </picture>
          </li>
          <li class="swiper-slide swiper-slide--no-shadow">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-lg.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-lg.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-lg@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-md.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-md.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-md@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-sm.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-sm.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/bed-decoration-sm@2x.jpg 2x
                "
              />
              <img class="swiper-slide--no-shadow"
                src="./images/about-our-hotel/abouthotel-slider/bed-decoration-sm.jpg"
                alt="Кімната студія з ліжком"
              />
            </picture>
          </li>
          <li class="swiper-slide swiper-slide--no-shadow">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-lg.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-lg.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-lg@2x.jpg 2x
                "
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-md.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-md.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-md@2x.jpg 2x
                "
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-sm.webp    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 1023px)"
                srcset="
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-sm.jpg    1x,
                  ./images/about-our-hotel/abouthotel-slider/hotel-registration-sm@2x.jpg 2x
                "
              />
              <img class="swiper-slide--no-shadow"
                src="./images/about-our-hotel/abouthotel-slider/hotel-registration-sm.jpg"
                alt="Кімната студія з ліжком"
              />
            </picture>
          </li>
        </ul>
        <div class="swipper-button-wrapper">
          <div>
            <svg
              class="swiper-button-prev hotel__btn--left"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M31.0834 14.9998H5.00581L11.0055 9.00012L9.5913 7.58594L1.17737 15.9999L9.5913 24.4138L11.0055 22.9996L5.00568 16.9998H31.0834V14.9998Z"
                fill="black"
              />
            </svg>
          </div>
          <div>
            <svg
              class="swiper-button-next hotel__btn--right"
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22.4921 7.58594L21.0779 9.00012L27.0777 14.9999H1V17H27.0775L21.0779 22.9996L22.4921 24.4138L30.9061 15.9999L22.4921 7.58594Z"
                fill="black"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
