<section class="section amenities">
  <div class="container amenities__lines">
    <h2 class="amenities__title">Зручності у номері</h2>
    <p class="amenities__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="amenities__list">
      <li class="amenities__item">
        <h3 class="amenities__title-secondary">Загальні</h3>
        <div class="amenities__text-wrapper">
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__title-secondary">Ванна кімната</h3>
        <div class="amenities__text-wrapper">
          <p class="amenities__item-description amenities__item-description--big">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__title-secondary">Спальня</h3>
        <div class="amenities__text-wrapper">
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__title-secondary">Кухня</h3>
        <div class="amenities__text-wrapper">
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint
          </p>
        </div>
      </li>
      <li class="amenities__item">
        <h3 class="amenities__title-secondary">Медіа</h3>
        <div class="amenities__text-wrapper amenities__text-wrapper--margin-bottom">
          <p class="amenities__item-description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>
    <div class="amenities__navigation-wrapper">
      <button class="reservation-button reservation-button--section js-open-modal" type="button" data-modal="2">
        Оформити бронювання
      </button>
      <a class="amenities__link" href="./hotel.html">Повернутись до перегляду номерів
        <svg class="amenities__link-icon" width="22" height="13">
          <use href="./images/icons.svg#right-arrow"></use>
        </svg>
      </a>
    </div>
  </div>
</section>