<button class="button button--transparent">Забронювати столик</button>
<button class="button button--black">Забронювати столик</button>
<button class="reservation-button reservation-button--section">Оформити бонювання</button>
<button class="reservation-button reservation-button--modal">Оформити бонювання</button>
<button class="return-button">Повернутися до перегляду номерів
    <span>
        <svg height="24" width="24" class="arrow-color">
            <use href="./images/icons.svg#return-arrow"></use>
        </svg>
    </span>
</button>
<button class="switch-button">
    <svg height="24" width="24" class="arrow-color">
        <use href="./images/icons.svg#left-arrow"></use>
    </svg>
</button>
<button class="switch-button">
    <svg height="24" width="24" class="arrow-color">
        <use href="./images/icons.svg#right-arrow"></use>
    </svg>
</button>