<section class="hero-number">
  <div class="hero-number__gardient"></div>

  <div class="hero-slider swiper">
    <div class="hero-slider__wrapper swiper-wrapper">
      <div class="hero-slider__slide swiper-slide">
        <div class="hero-slider__image">
          <picture>
            <source media="(min-width: 1280px)" srcset="
                ./images/hero-section/hero-number-desktop.webp    1x,
                ./images/hero-section/hero-number-desktop@2x.webp 2x
              " type="image/webp" />
            <source media="(min-width: 1024px)" srcset="
                ./images/hero-section/hero-number-tablet.webp    1x,
                ./images/hero-section/hero-number-tablet@2x.webp 2x
              " type="image/webp" />
            <source media="(max-width: 1023px)" srcset="
                ./images/hero-section/hero-number-mobile.webp    1x,
                ./images/hero-section/hero-number-mobile@2x.webp 2x
              " type="image/webp" />
            <source media="(min-width: 1280px)" srcset="
                ./images/hero-section/hero-number-desktop.jpg    1x,
                ./images/hero-section/hero-number-desktop@2x.jpg 2x
              " type="image/jpg" />
            <source media="(min-width: 1024px)" srcset="
                ./images/hero-section/hero-number-tablet.jpg    1x,
                ./images/hero-section/hero-number-tablet@2x.jpg 2x
              " type="image/jpg" />
            <img srcset="
                ./images/hero-section/hero-number-mobile.jpg    1x,
                ./images/hero-section/hero-number-mobile@2x.jpg 2x
              " src="./images/hero-section/hero-number-mobile.jpg" alt="двомісний номер" />
          </picture>
        </div>
      </div>
      <div class="hero-slider__slide swiper-slide">
        <div class="hero-slider__image">
          <picture>
            <source media="(min-width: 1280px)" srcset="
                ./images/hero-section/hero-number-desktop.webp    1x,
                ./images/hero-section/hero-number-desktop@2x.webp 2x
              " type="image/webp" />
            <source media="(min-width: 1024px)" srcset="
                ./images/hero-section/hero-number-tablet.webp    1x,
                ./images/hero-section/hero-number-tablet@2x.webp 2x
              " type="image/webp" />
            <source media="(max-width: 1023px)" srcset="
                ./images/hero-section/hero-number-mobile.webp    1x,
                ./images/hero-section/hero-number-mobile@2x.webp 2x
              " type="image/webp" />
            <source media="(min-width: 1280px)" srcset="
                ./images/hero-section/hero-number-desktop.jpg    1x,
                ./images/hero-section/hero-number-desktop@2x.jpg 2x
              " type="image/jpg" />
            <source media="(min-width: 1024px)" srcset="
                ./images/hero-section/hero-number-tablet.jpg    1x,
                ./images/hero-section/hero-number-tablet@2x.jpg 2x
              " type="image/jpg" />
            <img srcset="
                ./images/hero-section/hero-number-mobile.jpg    1x,
                ./images/hero-section/hero-number-mobile@2x.jpg 2x
              " src="./images/hero-section/hero-number-mobile.jpg" alt="двомісний номер" />
          </picture>
        </div>
      </div>
      <div class="hero-slider__slide swiper-slide">
        <div class="hero-slider__image">
          <picture>
            <source media="(min-width: 1280px)" srcset="
                ./images/hero-section/hero-number-desktop.webp    1x,
                ./images/hero-section/hero-number-desktop@2x.webp 2x
              " type="image/webp" />
            <source media="(min-width: 1024px)" srcset="
                ./images/hero-section/hero-number-tablet.webp    1x,
                ./images/hero-section/hero-number-tablet@2x.webp 2x
              " type="image/webp" />
            <source media="(max-width: 1023px)" srcset="
                ./images/hero-section/hero-number-mobile.webp    1x,
                ./images/hero-section/hero-number-mobile@2x.webp 2x
              " type="image/webp" />
            <source media="(min-width: 1280px)" srcset="
                ./images/hero-section/hero-number-desktop.jpg    1x,
                ./images/hero-section/hero-number-desktop@2x.jpg 2x
              " type="image/jpg" />
            <source media="(min-width: 1024px)" srcset="
                ./images/hero-section/hero-number-tablet.jpg    1x,
                ./images/hero-section/hero-number-tablet@2x.jpg 2x
              " type="image/jpg" />
            <img srcset="
                ./images/hero-section/hero-number-mobile.jpg    1x,
                ./images/hero-section/hero-number-mobile@2x.jpg 2x
              " src="./images/hero-section/hero-number-mobile.jpg" alt="двомісний номер" />
          </picture>
        </div>
      </div>
      <div class="hero-slider__slide swiper-slide">
        <div class="hero-slider__image">
          <picture>
            <source media="(min-width: 1280px)" srcset="
                ./images/hero-section/hero-number-desktop.webp    1x,
                ./images/hero-section/hero-number-desktop@2x.webp 2x
              " type="image/webp" />
            <source media="(min-width: 1024px)" srcset="
                ./images/hero-section/hero-number-tablet.webp    1x,
                ./images/hero-section/hero-number-tablet@2x.webp 2x
              " type="image/webp" />
            <source media="(max-width: 1023px)" srcset="
                ./images/hero-section/hero-number-mobile.webp    1x,
                ./images/hero-section/hero-number-mobile@2x.webp 2x
              " type="image/webp" />
            <source media="(min-width: 1280px)" srcset="
                ./images/hero-section/hero-number-desktop.jpg    1x,
                ./images/hero-section/hero-number-desktop@2x.jpg 2x
              " type="image/jpg" />
            <source media="(min-width: 1024px)" srcset="
                ./images/hero-section/hero-number-tablet.jpg    1x,
                ./images/hero-section/hero-number-tablet@2x.jpg 2x
              " type="image/jpg" />
            <img srcset="
                ./images/hero-section/hero-number-mobile.jpg    1x,
                ./images/hero-section/hero-number-mobile@2x.jpg 2x
              " src="./images/hero-section/hero-number-mobile.jpg" alt="двомісний номер" />
          </picture>
        </div>
      </div>
    </div>
    <div class="hero-slider__navigation">
      <div class="hero-slider__button-prev">
        <svg class="swiper-icon" width="37" height="21">
          <use href="./images/icons.svg#icon-swiper-button-prev"></use>
        </svg>
      </div>
      <div class="hero-slider__button-next">
        <svg class="swiper-icon" width="37" height="21">
          <use href="./images/icons.svg#icon-swiper-button-next"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="container hero-number__container">
    <div class="hero-number__wrapper">
      <div class="hero-number__text-wrapper">
        <h2 class="hero-number__title">
          Двомісний номер <span class="hero-number__title--small">люкс</span>
        </h2>
        <p class="hero-number__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <button class="hero-number__button button button--transparent js-open-modal" type="button" data-modal="3">
        Переглянути ціни
      </button>
      <div class="hero-number__link-wrapper">
        <a class="hero-number__link" href="https://goo.gl/maps/xowxYBsVFAnUarYt8" target="_blank"
          rel="noreferrer noopener">
          <svg class="hero-number__icon-link" width="12" height="20">
            <use href="./images/icons.svg#icon-mark-map"></use>
          </svg>
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15</a>
        <ul class="hero-number__socials-list">
          <li class="hero-number__socials-item">
            <a class="hero-number__socials-link" href="https://www.instagram.com/mimino.poltava/" target="_blank"
              rel="noreferrer noopener">
              <svg class="hero-number__socials-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="hero-number__socials-item">
            <a class="hero-number__socials-link" href="https://m.facebook.com/profile.php?id=114589595894911&__tn__=C-R"
              target="_blank" rel="noreferrer noopener">
              <svg class="hero-number__socials-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="hero-number__socials-item">
            <a class="hero-number__socials-link" href="https://web.telegram.org/k/" target="_blank"
              rel="noreferrer noopener">
              <svg class="hero-number__socials-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>