<section class="hero-hotel">
  <div class="container">
    <div class="hero-hotel__container">
      <h1 class="hero-hotel__title" lang="en">Mimiho</h1>
      <h2 class="hero-hotel__title-secondary">Готель</h2>
      <div class="hero-hotel__link-button-wrapper">
        <a class="hero-hotel__link" href="https://goo.gl/maps/xowxYBsVFAnUarYt8"
          ><svg class="hero-hotel__icon-link" width="24" height="24">
            <use href="./images/icons.svg#icon-mark-map"></use>
          </svg>
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15</a
        >
        <div class="hero-hotel__buttons-wrapper">
          <button
            class="button button--transparent js-open-modal"
            type="button"
            data-modal="2"
          >
            Забронювати номер
          </button>
          <button
            class="button button--transparent js-open-modal"
            type="button"
            data-modal="3"
          >
            Переглянути ціни
          </button>
        </div>
      </div>
      <ul class="hero-hotel__socials-list">
        <li class="hero-hotel__socials-item">
          <a
            class="hero-hotel__socials-link"
            href="https://www.instagram.com/mimino.poltava/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="hero-hotel__socials-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero-hotel__socials-item">
          <a
            class="hero-hotel__socials-link"
            href="https://m.facebook.com/profile.php?id=114589595894911&__tn__=C-R"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="hero-hotel__socials-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero-hotel__socials-item">
          <a
            class="hero-hotel__socials-link"
            href=""
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="hero-hotel__socials-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
