<section class="hero-restaurant">
  <div class="container">
    <div class="hero-restaurant__container">
      <h1 class="hero-restaurant__title" lang="en">Mimiho</h1>
      <h2 class="hero-restaurant__title-secondary">Ресторан</h2>
      <p class="hero-restaurant__text">Смак життя 24/7</p>
      <div class="hero-restaurant__link-button-wrapper">
        <a
          class="hero-restaurant__link"
          href="https://goo.gl/maps/xowxYBsVFAnUarYt8"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="hero-restaurant__icon-link" width="24" height="24">
            <use href="./images/icons.svg#icon-mark-map"></use>
          </svg>
          Україна, м. Полтава, <br />
          вул. Маршала Бірюзова, 15</a
        >
        <div class="hero-restaurant__buttons-wrapper">
          <button
            class="button button--transparent js-open-modal"
            type="button"
            data-modal="1"
          >
            Забронювати столик
          </button>
          <a
            href="./restaurant.html#menu"
            class="button button--transparent button--link"
          >
            Переглянути меню
          </a>
        </div>
      </div>
      <ul class="hero-restaurant__socials-list">
        <li class="hero-restaurant__socials-item">
          <a
            class="hero-restaurant__socials-link"
            href="https://www.instagram.com/mimino.poltava/"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="hero-restaurant__socials-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero-restaurant__socials-item">
          <a
            class="hero-restaurant__socials-link"
            href="https://m.facebook.com/profile.php?id=114589595894911&__tn__=C-R"
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="hero-restaurant__socials-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero-restaurant__socials-item">
          <a
            class="hero-restaurant__socials-link"
            href=""
            target="_blank"
            rel="noreferrer noopener"
          >
            <svg class="hero-restaurant__socials-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
