<section id="menu" class="section menu">
  <div class="container__lines--top">
    <div class="container">
      <h2 class="menu__title">Меню ресторану</h2>
      <div class="menu__container">
        <div class="menu__block-one">
          <table class="menu__table" border="0">
            <thead>
              <tr>
                <th colspan="3" class="menu__head">Гарячі страви</th>
              </tr>
            </thead>
            <tbody class="menu__body">
              <tr>
                <td class="menu__data">Борщ з телятини з квасолею</td>
                <td class="menu__weight" rowspan="2">400 г</td>
                <td class="menu__price" rowspan="2">240 грн</td>
              </tr>
              <tr width="220">
                <td class="menu__component">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </td>
              </tr>
              <tr>
                <td class="menu__data">Суп сирний з куркою</td>
                <td class="menu__weight" rowspan="2">400 г</td>
                <td class="menu__price" rowspan="2">200 грн</td>
              </tr>
              <tr>
                <td class="menu__component">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
                </td>
              </tr>
              <tr>
                <td class="menu__data">Паста карбонара</td>
                <td class="menu__weight" rowspan="2">350 г</td>
                <td class="menu__price" rowspan="2">430 грн</td>
              </tr>
              <tr>
                <td class="menu__component">
                  Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
                </td>
              </tr>
              <tr>
                <td class="menu__data">Стейк зі свинини</td>
                <td class="menu__weight" rowspan="2">400 г</td>
                <td class="menu__price" rowspan="2">500 грн</td>
              </tr>
              <tr>
                <td class="menu__component">
                  Свиняча вирізка, спеції, подається з соусом солодкий чилі та
                  овочами
                </td>
              </tr>
              <tr>
                <td class="menu__data">Горбуша в соусі з білого вина</td>
                <td class="menu__weight" rowspan="2">400 г</td>
                <td class="menu__price" rowspan="2">400 грн</td>
              </tr>
              <tr>
                <td class="menu__component">
                  Ніжна горбуша, вершковий соус на основі білого вина
                </td>
              </tr>
            </tbody>
          </table>
          <table class="menu__table" border="0">
            <thead>
              <tr>
                <th class="menu__head" colspan="3">Гарніри та закуски</th>
              </tr>
            </thead>
            <tbody class="menu__body">
              <tr>
                <td class="menu__data">Запечені овочі</td>
                <td class="menu__weight" rowspan="2">200 г</td>
                <td class="menu__price" rowspan="2">230 грн</td>
              </tr>
              <tr>
                <td class="menu__component">
                  Кабачок, перець, помідор, баклажан
                </td>
              </tr>
              <tr>
                <td class="menu__data">Картопля фрі</td>
                <td class="menu__weight" rowspan="2">150 г</td>
                <td class="menu__price" rowspan="2">160 грн</td>
              </tr>
              <tr>
                <td class="menu__component">Картопля, соус томатний</td>
              </tr>
              <tr>
                <td class="menu__data">Картопля по-селянськи</td>
                <td class="menu__weight" rowspan="2">150 г</td>
                <td class="menu__price" rowspan="2">160 грн</td>
              </tr>
              <tr>
                <td class="menu__component">Картопля, спеції, соус пікантний</td>
              </tr>
              <tr>
                <td class="menu__data">Хрумкі соління з бочки</td>
                <td class="menu__weight" rowspan="2">250 г</td>
                <td class="menu__price" rowspan="2">350 грн</td>
              </tr>
              <tr>
                <td class="menu__component">
                  Огірок солений, помідор квашений, квашена капуста, морква
                  по-корейські
                </td>
              </tr>
              <tr>
                <td class="menu__data">Крильця курячі в медовому соусі</td>
                <td class="menu__weight" rowspan="2">400 г</td>
                <td class="menu__price" rowspan="2">420 грн</td>
              </tr>
              <tr>
                <td class="menu__component">
                  Крильця курячі, гірчично-медовий соус, подається з морквою,
                  селерою і соусом блючиз
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="menu__block-two">
          <table class="menu__table" border="0">
            <thead>
              <tr>
                <th class="menu__head" colspan="3">Салати</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="menu__data">Цезар з куркою</td>
                <td class="menu__weight" rowspan="2">230 г</td>
                <td class="menu__price" rowspan="2">450 грн</td>
              </tr>
              <tr>
                <td class="menu__component">
                  Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                  соус цезар
                </td>
              </tr>
              <tr>
                <td class="menu__data">Цезар з креветками</td>
                <td class="menu__weight" rowspan="2">230 г</td>
                <td class="menu__price" rowspan="2">300 грн</td>
              </tr>
              <tr>
                <td class="menu__component">
                  Тигрові креветки, листя салату, помідори чері, сир пармезан,
                  грінки, соус цезар
                </td>
              </tr>
              <tr>
                <td class="menu__data">Грецький салат</td>
                <td class="menu__weight" rowspan="2">230 г</td>
                <td class="menu__price" rowspan="2">280 грн</td>
              </tr>
              <tr>
                <td class="menu__component">
                  Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                  листя салату, соус
                </td>
              </tr>
              <tr>
                <td class="menu__data">М’ясний салат</td>
                <td class="menu__weight" rowspan="2">230 г</td>
                <td class="menu__price" rowspan="2">300 грн</td>
              </tr>
              <tr>
                <td class="menu__component">
                  Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                  болгарський перець, соус ранч
                </td>
              </tr>
            </tbody>
          </table>
          <table class="menu__table" border="0">
            <thead>
              <tr>
                <th class="menu__head" colspan="3">Десерти</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="menu__data menu__data--padding">Торт наполеон</td>
                <td class="menu__weight">230 г</td>
                <td class="menu__price">300 грн</td>
              </tr>
              <tr>
                <td class="menu__data menu__data--padding">Торт маковий</td>
                <td class="menu__weight">230 г</td>
                <td class="menu__price">300 грн</td>
              </tr>
              <tr>
                <td class="menu__data menu__data--no-padding">Тірамісу</td>
                <td class="menu__weight">120 г</td>
                <td class="menu__price">260 грн</td>
              </tr>
            </tbody>
          </table>
          <table class="menu__table" border="0">
            <thead>
              <tr>
                <th class="menu__head" colspan="3">Напої</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="menu__data menu__data--padding">Чай чорний/зелений</td>
                <td class="menu__weight menu__weight--no-padding-left">500 мл</td>
                <td class="menu__price">100 грн</td>
              </tr>
              <tr>
                <td class="menu__data menu__data--padding">Еспресо</td>
                <td class="menu__weight menu__weight--no-padding-left">30 мл</td>
                <td class="menu__price">100 грн</td>
              </tr>
              <tr>
                <td class="menu__data menu__data--padding">Американо</td>
                <td class="menu__weight menu__weight--no-padding-left">150 мл</td>
                <td class="menu__price">100 грн</td>
              </tr>
              <tr>
                <td class="menu__data menu__data--padding">Капучино</td>
                <td class="menu__weight menu__weight--no-padding-left">200 мл</td>
                <td class="menu__price">160 грн</td>
              </tr>
              <tr>
                <td class="menu__data menu__data--padding">Лате</td>
                <td class="menu__weight menu__weight--no-padding-left">200 мл</td>
                <td class="menu__price">160 грн</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <button type="button" class="button button--black js-open-modal" data-modal="1">
        Забронювати столик
      </button>
    </div>
  </div>
</section>