.header__logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: var(--color-mobile-logo);

  @media screen and (min-width: 1024px) {
    font-size: 40px;
    color: var(--color-white);
  }
}

.footer__logo {
  margin-left: 0;

  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--color-primary);

  @media screen and (min-width: 380px) {
    margin-left: 29px;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 32px;
    font-size: 64px;
  }
}
