    @media screen and (min-width:1024px) {
        .restaurant--part{
        display: flex;
    }
    }
.restaurant__subtitle {
    font-family: var(--font-subhead);
    font-size: 20px;
    line-height: 1.15;
    color: var(--color-beige4);
    margin-right: auto;
    margin-bottom: 12px;
    margin-top: 16px;
    @media screen and (min-width:1024px) {
        margin-top: 120px;
        font-size: 32px;
    }
}

.restaurant__name {
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    margin-right: auto;
    margin-bottom: 12px;
    color: var(--color-dark);
        @media screen and (min-width:1024px) {
            margin-top: 4px;
            font-size: 64px;
            line-height: 1.07;
            }
}

.restaurant__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    margin-right: auto;
    color: var(--color-beige1);
    max-width: 258px;
    margin-bottom: 28px;
        @media screen and (min-width:1024px) {
            font-size: 16px;
            max-width: 454px;
        }
        @media screen and (min-width:1280px) {
            max-width:518px;
            margin-bottom: 0;
            margin-right: 37px;
        }
}
.restaurant__img{
    margin-left: auto;
    margin-bottom: 32px;
        @media screen and (min-width:1024px) {
            margin-top: -32px;
        }
}
.restaurant-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

        @media screen and (min-width:1024px) {
            justify-content: flex-start;
            & img {
                margin-top: -45px;
            }
        }
        @media screen and (min-width:1280px) {
            & img {
            margin-top: -90px;
        }
    }
}
.restaurant__description{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    max-width: 163px;
    color: var(--color-brown);
        @media screen and (max-width:440px) {
            margin-left: 15px;
        }
        @media screen and (min-width:1024px) {
            font-size: 16px;
            margin-left: 48px;
            max-width: 312px;
            }
        @media screen and (min-width:1024px) {
            margin-bottom: 119px;
            margin-left: 48px;
                }
}
.section--bg-image{
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.65) ,rgba(0, 0, 0, 0.65)), url(../images/about-restaurant/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 24px;
    padding-bottom: 40px;
    max-width: 1280px;
        @media screen and (min-width:1024px) {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url(../images/about-restaurant/tablet/back.jpg);
            padding-top: 48px;
            }
        @media screen and (min-width:1280px) {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url(../images/about-restaurant/desktop/back.jpg);
        }
}
.restaurant__name--color{
    color:var(--color-white);
    margin-left: 108px;
        @media screen and (min-width:1024px) {
            margin-left: 278px;
            margin-bottom: 16px;
            margin-top: 0;
        }
}
.restaurant-reserv__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-white);
    margin-left: 108px;
    margin-bottom: 20px;
        @media screen and (min-width:1024px) {
            font-size: 24px;
            margin-left: 278px;
            margin-bottom: 8px;
        }
}

.restaurant-reserv__text {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    max-width: 241px;
    color: var(--color-beige5);
    margin-left: 108px;
    margin-bottom: 28px;
        @media screen and (min-width:1024px) {
            margin-bottom: 40px;
            max-width: 600px;
            margin-left: 278px;
            font-size: 16px;
        }
        
}

.swiper--accent {
    @media screen and (max-width:1023px) {
        margin-right: -15px;
    }
  margin-left: 64px !important;
  @media screen and (min-width: 1024px) {
      margin-top: -173px;
      margin-left: 491px !important;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -190px;
    margin-left: 585px !important;
  }
}
.swiper-wrapper{
    padding-bottom: 72px;
    padding-top: 32px;
        @media screen and (min-width:1024px) {
            padding-bottom: 96px;
            padding-top: 50px;
            }


}
.swiper img{
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    margin: auto;
}
img{
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}
.swiper-slide--width{
    width: 161px !important;
}
.swipper--margin{
    @media screen and (max-width:1023px) {
        margin-right: -15px;
    }
    padding-left: 10px;
        @media screen and (min-width:1024px) {
            flex-direction: row-reverse;
            display: flex;
        }

    & .swiper-slide{
    max-width: 275px;
    min-height: 270px;
    }}
        @media screen and (min-width:1024px) {
            .swipper--margin-left{
                margin-left: 50px  !important;
                padding-bottom: 96px !important;
        }
            .swiper-wrapper--padding{
                padding: 0;
        }
}
.restaurant__btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.button--decor{
    text-decoration: none;
}

.swiper-button-prev {
    @media screen and (min-width:320px) and (max-width:380px) {
        top: 286px !important;
        left: 144px !important;
    }
    background-color: transparent;
    left: 226px !important;
    top: 310px !important;
    @media screen and (min-width:1024px) {
        top: 284px !important;
        left: 348px !important;
    }
    @media screen and (min-width:1280px) {
        top: 336px !important;
        left: 431px !important;
    }
}
.swiper-button-next {
        @media screen and (min-width:320px) and (max-width:380px) {
                top: 286px !important;
            }
    background-color: transparent;
    top: 310px !important;
    right: 10px;
        @media screen and (min-width:1024px) {
            top: 284px !important;
        }
        @media screen and (min-width:1280px) {
            top: 336px !important;
        }
}

.swiper-button-prev--left{
    left: 0 !important;
    top: 325px !important;
        @media screen and (min-width:1024px) {
            top: 302px !important;
        }
}
.swiper-button-prev--right{
        @media screen and (min-width:320px) and (max-width:380px) {
                left: 50px !important;
            }
    top: 325px !important;
    right: 290px !important;
        @media screen and (min-width:1024px) {
            right: 550px !important;
            top: 302px !important;
        }
        @media screen and (min-width:1280px) {
            right: 730px !important;
        }
}

.swiper-wrapper.swiper-wrapper--2adult-padding{
  padding-bottom: 120px;
}
.swiper-button-prev.swiper-button-prev--2adult-top,
.swiper-button-next.swiper-button-prev--2adult-top{
  top: 288px !important;
}
@media screen and (max-width: 1023px) {
.swiper-button-prev.swiper-button-prev--2adult-top {
  left: 178px !important;
}}

@media screen and (min-width: 1280px){ .swiper-button-prev.swiper-button-prev--2adult-top {
  left: 338px !important;
}}