.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100%;

  transition: 300ms var(--timing-function);

  &.sticky {
    background-color: var(--dark-background);
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 414px;
  padding: 17px 15px;

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding: 24px 47px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 24px 85px;
  }
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav__item {
  display: flex;
}

.nav__item:nth-child(2n) {
  margin-left: 6px;
  padding: 0;

  border: 1px solid;
  border-color: transparent;
  border-radius: 2px;

  @media screen and (min-width: 1024px) {
    margin-left: 32px;
    padding: 8px;
    border-color: var(--color-border-social);
  }
}

.nav__item:nth-child(3) {
  margin-left: 6px;

  @media screen and (min-width: 414px) {
    margin-left: 20px;
  }

  @media screen and (min-width: 1024px) {
    margin-left: 32px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 72px;
  }
}

.nav__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-primary);

  &:nth-of-type(even) {
    margin-left: 16px;
  }

  @media screen and (min-width: 414px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.nav__icon {
  margin-right: 0;
  fill: var(--color-primary);

  @media screen and (min-width: 1024px) {
    margin-right: 8px;
  }
}

.nav__text {
  display: none;

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-white);

  @media screen and (min-width: 1024px) {
    display: block;
  }

  .nav__link:hover &,
  .nav__link:focus & {
    text-decoration: underline;
  }
}

.social {
  display: none;
  gap: 20px;

  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.social__icon {
  fill: var(--color-primary);
}
