.hero-number {
    position: relative;
    margin: 0 auto;
    max-width: 414px;

    @media screen and (min-width: 1024px) {
      height: 720px;
      max-width: 1024px;
    }
    @media screen and (min-width: 1280px) {
      max-width: 1280px;
    }
  
    &__gardient {
      position: absolute;
      width: 100%;
      height: 143px;
      z-index: 2;
      background: linear-gradient(180deg, #000000 0%,
      rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);

      @media screen and (min-width: 1024px) {
        height: 116px;
      }
      @media screen and (min-width: 1280px) {
        height: 147px;
      }
    }
    
    &__container {
        position: absolute;
        display: flex;
        // justify-content: center;
        bottom: 0;
        left: 0;
        z-index: 2;

        @media screen and (min-width: 780px) {
         
        }
        
    }
    
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
       
        @media screen and (min-width: 1024px) {
          position: static;
        }
       
        @media screen and (min-width: 1280px) {
          align-items: center;
          justify-content: space-between;
         
        }
       
    }

    &__text-wrapper {

      @media screen and (max-width: 1023px) {
        max-width: 330px;
        margin-bottom: 17px;
      }
    }

    &__title {
        margin-bottom: 14px;
        
        font-family: var(--font-subhead);
        font-weight: 700;
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--color-white);

        @media screen and (min-width: 1024px) {
          margin-bottom: 24px;
          font-size: 36px;
        }
    }

    &__title--small {
        text-transform: lowercase;
        color: var(--color-white);
    }

    &__text {
        max-width: 325px;

        font-weight: 700;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: var(--color-white);

        @media screen and (min-width: 1024px) {
          max-width: 400px;
          margin-bottom: 24px;

          font-size: 16px;
        }
    }

    
    &__button {
        position: absolute;
        right: 0;
        bottom: 40px;

        @media screen and (min-width: 1024px) {
         right: 47px;
         bottom: 66px;
        }

        @media screen and (min-width: 1280px) {
          right: 85px;
        }
    }

    &__link-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 41px;

      @media screen and (min-width: 1024px) {
        margin-bottom: 24px;
      }
    }

    &__link{ 
      position: absolute;
      top: -415px;     
      right: -57px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 13px;
      min-width: 210px;
      
      padding: 8px 8px 8px 11px;
      font-family: var(--font-main);
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.25;
      letter-spacing: 0.01em;
      color: #e5e5e5;
      text-decoration: none;

      border: 1px solid rgba(243, 198, 83, 0.7);
      border-radius: 2px;

      @media screen and (min-width: 1024px) {
        position: static;
        gap: 10px;
        min-width: 285px;
        height: 56px;
        padding: 8px 8px 8px 10px;

        font-size: 16px;
      }

      @media screen and (min-width: 1280px) {
          display: none;
          overflow: hidden;
      }

      
  }

  &__icon-link {
    width: 24px;
    height: 24px;
      fill: var(--color-primary);
  }

    &__socials-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 11px;
      margin-right: auto;
      margin-bottom: 17px;

      @media screen and (min-width: 1024px) {
        flex-direction: row;
        gap: 23px;
        margin-bottom: 0;
      }

      @media screen and (min-width: 1280px) {
        display: none;
        overflow: hidden;
      }
      
    }

    &__socials-item {
      width: 24px;
      height: 24px;
    }

    &__socials-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: var(--color-primary);
      cursor: pointer;
    }

    &__socials-icon {
      fill: currentColor;
    }
}

.hero-slider {
    position: relative;
    width: 100%;
    height: 100%;

    &__image {
     background-color: var(--color-black);
    }

  }

  .hero-slider__navigation {
    position: absolute;
    justify-content: space-between;
    display: flex;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 2;
    left: 15px;
    width: calc(100% - 30px);
  
    @media screen and (min-width: 1024px) {
      left: 47px;
      width: calc(100% - 94px);
    }
    @media screen and (min-width: 1280px) {
      left: 85px;
      width: calc(100% - 170px);
    }
    
    
  }

  .hero-slider__button-next::after {
   font-size: 0;
  }
  .hero-slider__button-prev::after {
    font-size: 0;
  }

  .hero-slider__button-next {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    z-index: 5;
  }

  .hero-slider__button-prev {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    z-index: 5;
  }

  .hero-slider__button-prev:active,
  .hero-slider__button-next:active {
    background-color: var(--color-primary);
  }

  .swiper-icon {
    fill: var(--color-primary);
  }
  .hero-slider__wrapper.swiper-wrapper{
    padding: 0;
  }